PERSISTENCE= Tipo de persistencia de los archivos que se guarden en la base de datos
PORT= Numero del puerto con el que se hara conexion
MONGO_URL= String de conexion a la base de datos con la cual se va a trabajar
PRIVATE_KEY= Clave privada
ID_GITHUB= ID generada por GitHub para su utilizacion
SECRET_GITHUB= Clave secreta generada por GitHub para su utilizacion
PASS_DEFAULT= Clave por defecto
ENT= Tipo de entorno de trabajo