<div>

    <h1>LOGIN</h1>

    <form id="formLogin">

        <label>Email</label>
        <input name="email">

        <br/>

        <label>Password</label>
        <input name="password" type="password">

        <br/>   

        <input type="submit" value="login">

    </form>

    <p>¿Are you registered? <a href="/register">Sing up</a></p>
    <p><a href="/passwordLink">Reset Password</a></p>

    <a href="/api/sessions/github"><button>Ingresar con GitHub</button></a>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>