<div>
    <h1>NEW PRODUCT</h1>
    <form id="newProductForm">

        <label>Title</label>
        <input name="title">

        <br/>

        <label>Description</label>
        <input name="description">

        <br/>

        <label>Code</label>
        <input name="code">

        <br/>

        <label>Price</label>
        <input type="number" name="price">

        <br/>

        <label>Stock</label>
        <input type="number" name="stock">

        <br/>

        <label>Category</label>
        <input name="category">

        <br/>

        <label>Thumbnail</label>
        <input name="thumbnail">

        <br/>

        <label>Owner</label>
        <input name="owner">

        <input type="submit" value="Send">

    </form>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/newProduct.js"></script>