<div>

    <h1>GENERATE PASSWORD LINK</h1>

    <form id="formLink">

        <label>Email</label>
        <input name="email">

        <input type="submit" value="reset">

    </form>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/passwordLink.js"></script>