<div>

    <h1>REGISTER</h1>

    <form id="registerForm">

        <label>First Name</label>
        <input name="first_name">

        <br/>

        <label>Last Name</label>
        <input name="last_name">

        <br/>

        <label>Email</label>
        <input name="email">

        <br/>

        <label>Age</label>
        <input name="age">

        <br/>

        <label>Password</label>
        <input name="password "type="password">

        <br/>

        <input type="submit" value="Send">

    </form>

    <p>¿Are you already registered? <a href="/login">Login</a></p>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>