<div>

    <h1>RESET PASSWORD</h1>

    <form id="Form">
        <label>Email</label>
        <input name="email">
        
        <label>New Password</label>
        <input name="password" type="password">

        <input type="submit" value="Reset-password">

    </form>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset-password.js"></script>